<div [@routerTransition]>
    
    <div class="row">
        <div class="col col-xl-12 col-lg-12">
            <div class="card mb-3">
                <div class="card-header">
                    Register Doctor List
                </div>
                <div class="card-body table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email ID</th>
                            <th>Hospital</th>
                            <th>Specialist</th>
                            <th>Register Date</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto@gmail.com</td>
                            <td>Hawally</td>
                            <td>Medicine Specialist</td>
                            <td>24/05/2018</td>
                            <td>New</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>jacob@gmail.com</td>
                            <td>Hawally</td>
                            <td>Medicine Specialist</td>
                            <td>24/05/2018</td>
                            <td>Approved</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>larry@gmail.com</td>
                            <td>Hawally</td>
                            <td>Medicine Specialist</td>
                            <td>24/05/2018</td>
                            <td>New</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
