/* You can add global styles to this file, and also import other style files */
body {
    //background-image: url('assets/images/loginbg.jpg'); height: 100%;background-position: center;background-size: cover;
    background:#8bc7e1 url(assets/images/loginbg.jpg) right 0 no-repeat;
    background-attachment: fixed;
}
.dsb .card{
    background-color: #007bff;
}
.dsb+.dsb .card{
    background-color: #28a745;
}
.dsb+.dsb+.dsb .card{
    background-color:#ff0000;
}
.dsb+.dsb+.dsb+.dsb .card{
    background-color:#17a2b8;
}
