<div [@routerTransition]>
    <hr>
    <div class="row">
        <div  class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa fa-comments fa-5x'" [count]="statusCount[0].Value" [label]="statusCount[0].Text" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa fa-check fa-5x'" [count]="statusCount[1].Value" [label]="statusCount[1].Text" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa fa-ban fa-5x'" [count]="statusCount[2].Value" [label]="statusCount[2].Text" ></app-stat>
        </div>
        <div class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'danger'" [icon]="'fa fa-times fa-5x'" [count]="statusCount[3].Value" [label]="statusCount[3].Text"></app-stat>
        </div>
    </div>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                        <div class="card-header">

                        </div>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>First Name</th>
                                    <th>Civil ID</th>
                                    <th>Referal Date</th>
                                    <th>Referal Dr</th>
                                    <th>Status</th>
                                    <th>Resend</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let patient of patients" >
                                    <th scope="row">1</th>
                                    <td>{{patient.patientName}}</td>
                                    <td>{{patient.civilId}}</td>
                                    <td>{{patient.RefDate}}</td>
                                    <td>{{patient.patientName}}</td>
                                    <td>{{patient.patientName}}</td>
                                    <td>{{patient.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
</div>
