<div [@routerTransition]>
    <hr>
    <div class="row">
        <div *ngFor="let count of statusCount"  class="col-xl-3 col-lg-6">
            <app-stat [bgClass]="'primary'" style="cursor: pointer;" [icon]="'fa fa-comments fa-5x'" [count]="count.Value" [label]="count.Text" (click)="filter(count.Text)"></app-stat>
        </div>
    </div>

    <div class="row">
        <div class="col col-xl-12 col-lg-12">
                <div class="card mb-3">
                        <div class="card-header">

                        </div>
                        <div class="card-body table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Patient Name</th>
                                    <th>Hospital Name</th>

                                    <th>Age</th>
                                    <th>Referal Date</th>
                                    <th>Diagnosis Sample</th>
                                    <th>Referal Status</th>
                                    <th>Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let patient of patients; let i=index" >
                                    <th scope="row">{{i + 1}}</th>
                                    <td>{{patient.patientName}}</td>
                                    <td>{{patient.name}}</td>
                                    <td>{{patient.age}}</td>
                                    <td>{{patient.referringDate}}</td>
                                    <td>{{patient.admissionDiagnosis}}</td>
                                    <td>{{patient.status}}</td>
                                    <td><a href="#">{{patient.action}}</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
        </div>
    </div>
</div>
