<div class="container justify-content-md-center">
<div class="col-4 offset-4">
	<div class="card card-block">
		<h4 class="card-title">Update Password</h4>
		<form role="form" #changePasswordForm="ngForm"
		 (ngSubmit)="changePasswordForm.form.valid && onSubmit()" novalidate>
			<div class="form-group" [ngClass]="{ 'has-error': changePasswordForm.submitted && !oldpassword.valid }">
				<label for="oldpassword">Current Password</label>
				<input type="password"
					class="form-control"
					placeholder="Current Password"
					required
					[(ngModel)]="updatePasswordData.oldpassword"
					#oldpassword="ngModel"
					name="oldpassword"
					id="oldpassword">
					<span class="help-block" *ngIf="changePasswordForm.submitted && oldpassword.errors?.required">
							*Current Password is required
					</span>
			</div>

			<div class="form-group" [ngClass]="{ 'has-error': changePasswordForm.submitted && !password.valid }">
				<label for="formGroupExampleInput">New Password</label>
				<input type="password"
					class="form-control"
					placeholder="New Password"
					required
					[(ngModel)]="updatePasswordData.password"
					#oldpassword="ngModel"
					name="password"
					id="password">
					<span class="help-block" *ngIf="changePasswordForm.submitted && password.errors?.required">
							*New Password is required</span>
			</div>

			<div class="form-group">
				<label for="formGroupExampleInput">New Password Confirmation</label>
				<input type="password"
					class="form-control"
					placeholder="New Password Confirmation"
					required
					[(ngModel)]="updatePasswordData.passwordConfirmation"
					name="password-confirmation">
					<span class="help-block" *ngIf="changePasswordForm.submitted && password.errors?.required">
							*confirm New Password is required</span>
			</div>
			<button
				type="submit"
				class="btn btn-primary">
				Update Password
			</button>
		</form>
	</div>
</div>
</div>