<div>
    <div class="container justify-content-md-center">
        <div class="col-4 offset-4">
            <h1>Profile</h1>
            <form role="form"
                  #f="ngForm"
                  (ngSubmit)="f.form.valid && onSave()"
                  novalidate>
                <div class="form-content">
                    <div class="form-group">
                        <input type="text"
                               [(ngModel)]="_user.name"
                               name="name"
                               class="form-control input-underline input-lg"
                               #name="ngModel"
                               id="name"
                               placeholder="Full Name"
                               autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="text"
                               [(ngModel)]="_user.phone"
                               name="phone"
                               class="form-control input-underline input-lg"
                               #phone="ngModel"
                               id="phone"
                               placeholder="Phone Number"
                               autocomplete="off"
                               pattern="^\(?([0-9]{3})\)?[-.●]?([0-9]{3})[-.●]?([0-9]{4})$">
                    </div>
                    <div class="form-group">
                        <input type="email"
                               [(ngModel)]="_user.email"
                               name="email"
                               class="form-control input-underline input-lg"
                               id="email"
                               #email="ngModel"
                               placeholder="Email"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                               autocomplete="off"
                               readonly>
                    </div>                    
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !specialist_id.valid}">
                        <select [(ngModel)]="_user.specialist_id"
                                (change)="onspecialist($event)"
                                name="specialist_id"
                                id="specialist_id"
                                #specialist_id="ngModel"
                                class="form-control"
                                placeholder="Confirm Password"
                                [disabled]="true">
                        <option *ngFor="let splt of specialists" value={{splt.Value}}>{{splt.Text}} </option>
                        </select>
                        <div *ngIf="f.submitted && Spvalid == false"
                             class="help-block" style="color: red;"> *Specialist is required</div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && hospital_id!==0 }">
                        <select [(ngModel)]="_user.hospital_id"
                                (change)="onhospital($event)"
                                name="hospital_id"
                                id="hospital_id"
                                #hospital_id="ngModel"
                                placeholder="Hospital Name"
                                class="form-control"
                                [disabled]="true">
                        <option *ngFor="let hospital of hospitals" value="{{hospital.Value}}" >{{hospital.Text}} </option>
                        </select>
                        <div *ngIf="f.submitted && Hsvalid === false"
                             class="help-block" style="color: red;"> *Hospital is required</div>
                    </div>

                </div>
                <button type="submit"
                        class="btn  btn-primary"> Save </button>&nbsp;
            </form>
        </div>
    </div>
</div>
