<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'Dashboard' | translate }}
        </a>
        <a [routerLink]="['/doctorList']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;{{ 'Doctor List' | translate }}
        </a>
        <a [routerLink]="['/patient-forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Patient Register Forms' | translate }}
        </a>
        <a [routerLink]="['/doctor-forms']" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-edit"></i>&nbsp;{{ 'Dr Registration Forms' | translate }}
        </a>
    </div>
</nav>
