<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <!--<div class="panel-heading">
        <h5>Panel heading here</h5>
      </div>-->
      <div class="panel-body">
        <div class="col-12"> <!-- start of hospital information -->
          <h5>
              <strong>Hospital Information</strong>
              <span class="text-warning">
                (* has to be completed, otherwise the consultation will be rejected)
              </span>
          </h5>
          <hr>
          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Referring Consultant
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.referConsulutantName"
                  name="referConsulutantName"
                  id="referConsulutantName"
                  #referConsulutantName="ngModel" >
              </div>
            </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                Referral Date
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.RefDate"
                  name="RefDate"
                  id="RefDate"
                  #RefDate="ngModel" >
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Referring Speciality
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.speciallist"
                  name="speciallist"
                  id="speciallist"
                  #speciallist="ngModel" >
              </div></div>
            </div> <!-- col1 close -->

            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                Referring Hospital
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.referHospital"
                  name="referHospital"
                  id="referHospital"
                  #referHospital="ngModel" >
              </div>
            </div> <!-- col2 close -->
            </div>
          </div><!--form group -->

          <div class="form-group row">
              <label class="col-2 col-form-label">
                Admission diagnosis
              </label>
              <div class="col-10">
                <textarea readonly  [(ngModel)]="patientDetail.admissionDiagnosis"
                  name="admissionDiagnosis"
                  id="admissionDiagnosis"
                  #admissionDiagnosis="ngModel"
                  id="admissionDiagnosis"
                  class="form-control" rows="3"></textarea>
              </div>
          </div><!--form group -->                
        </div><!--col 12 closing of hospital information--> 


        <div class="col-12">
          <h5>
              <strong>Patient Information</strong>
              <span class="text-warning">
                (* has to be completed, otherwise the consultation will be rejected)
              </span>
              <!--Please Complete this consultation formfoe all ECMO referrals to Adan Hospital-->
          </h5>
          <hr>

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Patient Name
              </label>
              <div class="col-8">
                <input readonly  [(ngModel)]="patientDetail.patientName"
                  name="patientName"
                  id="patientName"
                  #patientName="ngModel"
                  id="patientName" class="form-control" type="text">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                Civil ID
              </label>
              <div class="col-10">
                <input readonly  type="text" class="form-control"
                  [(ngModel)]="patientDetail.civilId"
                  name="civilId"
                  #civilId="ngModel"
                  id="civilId">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Age
              </label>
              <div class="col-8">
                <input readonly  type="text" class="form-control"
                  [(ngModel)]="patientDetail.age"
                  name="age"
                  #age="ngModel"
                  id="age">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                Gender
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.gender"
                  name="gender"
                  id="gender"
                  #gender="ngModel"
                  id="gender">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Unit
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.unit"
                  name="unit"
                  id="unit"
                  #unit="ngModel"
                  id="unit">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                Ward
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.ward"
                  name="ward"
                  #ward="ngModel"
                  id="ward">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row">
              <label class="col-4 col-form-label">
                Bed
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.bed"
                  name="bed"
                  #bed="ngModel"
                  id="bed">
                  </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-2 col-form-label">
                File no
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.fileNo"
                  name="fileNo"
                  #fileNo="ngModel"
                  id="fileNo">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
              <label class="col-2 col-form-label">
                History(including comorbidities)
              </label>
              <div class="col-10">
                <textarea readonly  [(ngModel)]="patientDetail.history"
                  name="history"
                  id="history"
                  #history="ngModel"
                  id="history"
                  class="form-control" rows="3">
                </textarea>
              </div>
          </div><!--form group -->
        </div> <!-- end of pratients information -->


        <div class="col-12">
          <h5>
              <strong>Patient parameters</strong>
              <span class="text-warning">
                (* has to be completed, otherwise the consultation will be rejected)
              </span>
              <!--Please Complete this consultation formfoe all ECMO referrals to Adan Hospital-->
          </h5>
          <hr>

          <div class="form-group row">
            <div class="col-6">
              <div class="row">
              <!-- col1 -->
              <label class="col-4 col-form-label">
                Pre-morbid functional status
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.preMorbFunctionalStatus"
                  name="preMorbFunctionalStatus"
                  #preMorbFunctionalStatus="ngModel"
                  id="preMorbFunctionalStatus">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row">
              <label class="col-4 col-form-label pr-0">
                Pre-morbid conscious status
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.preMorbFunctionalConsciousStatus"
                  name="preMorbFunctionalConsciousStatus"
                  #preMorbFunctionalConsciousStatus="ngModel"
                  id="preMorbFunctionalConsciousStatus">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="col-12">
              <div class="row"> 
            <h6> 
              <label class="text-primary">
                Current GCS
              </label>
            </h6>
            <div class="form-group row">
              <div class="col-3"> <!-- col1 -->
                <div class="row"> 
                <label class="col-2 col-form-label">E</label>
                <div class="col-10">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.e"
                    name="e"
                    #e="ngModel"
                    id="e">
                    </div>
                </div>
              </div> <!-- col1 close -->
              <div class="col-3">  <!-- col2 -->
                <div class="row"> 
                <label class="col-2 col-form-label">
                  V
                </label>
                <div class="col-10">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.v"
                    name="v"
                    #v="ngModel"
                    id="v">
                </div>
                </div>
              </div> <!-- col2 close -->

              <div class="col-3">  <!-- col3 -->
                <div class="row"> 
                <label class="col-2 col-form-label">
                  M
                </label>
                <div class="col-10">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.m"
                    name="m"
                    #m="ngModel"
                    id="m">
                </div>
                </div>
              </div> <!-- col3 close -->

              <div class="col-3">  <!-- col4 -->
                <div class="row"> 
                <label class="col-3 col-form-label">
                  Total score
                </label>
                <div class="col-9">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.totalscore"
                    name="totalscore"
                    #totalscore="ngModel"
                    id="totalscore">
                </div>
                </div>
              </div> <!-- col4 close -->
            </div><!--form group --> 
</div>
          </div> <!-- closing EVM -->

          <div class="">
            <h6>
              <label class="text-primary">Ventilation</label>
            </h6>
            <div class="form-group row">
                <label class="col-4 col-form-label pr-0">
                  Duration of conventional mechanical ventilation
                </label>
                <div class="col-2">
                  <input readonly  class="form-control" placeholder="Days"
                    type="text"
                    [(ngModel)]="patientDetail.durOfConventianalMechanicalVentination"
                    name="durOfConventianalMechanicalVentination"
                    #durOfConventianalMechanicalVentination="ngModel"
                    id="durOfConventianalMechanicalVentination">
                </div>
            </div> <!--form group -->

            <div class="form-group row">
              <div class="col-6"> <!-- col1 -->
                <div class="row"> 
                <label class="col-4 col-form-label">
                  PO2
                </label>
                <div class="col-5">
                  <input readonly  class="form-control" placeholder="mmHg"
                    type="text"
                    [(ngModel)]="patientDetail.pO2"
                    name="pO2"
                    #pO2="ngModel"
                    id="pO2">
                </div>
                <div class="col-3">mmHg</div>
                </div>
              </div> <!-- col1 close -->

              <div class="col-6">  <!-- col2 -->
                <div class="row"> 
                <label class="col-2 col-form-label">
                  SpO2
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.spO2"
                    name="spO2"
                    id="spO2">
                    </div>
                    <div class="col-3">%</div>
                </div>
              </div> <!-- col2 close -->
            </div><!--form group -->

            <div class="form-group row">
              <div class="col-6"> <!-- col1 --><div class="row"> 
                <label class="col-4 col-form-label">
                  <span style="color: red" >Pao2/Fio2 ratio</span>
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.pao2fio2ratio"
                    name="pao2fio2ratio"
                    #pao2fio2ratio="ngModel"
                    id="pao2fio2ratio">
                </div>
                <div class="col-3">mmHg</div>
              </div>
              </div> <!-- col1 close -->

              <div class="col-6">  <!-- col2 --><div class="row"> 
                <label class="col-2 col-form-label">
                  FiO2
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.fiO2"
                    name="fiO2"
                    #fiO2="ngModel"
                    id="fiO2">
                </div>
                </div>
              </div> <!-- col2 close -->
            </div><!--form group -->

            <div class="form-group row">
              <div class="col-6"> <!-- col1 --><div class="row"> 
                <label class="col-4 col-form-label">
                    <span style="color: red" >PEEP</span>
                </label>
                <div class="col-5">
                  <input readonly  class="form-control" placeholder="CMH2O"
                    type="text"
                    [(ngModel)]="patientDetail.peep"
                    name="peep"
                    #peep="ngModel"
                    id="peep">
                </div>
                </div>
              </div> <!-- col1 close -->
              <div class="col-6">  <!-- col2 -->
                <div class="row"> 
                <label class="col-2 col-form-label">
                  PIP(peak insp pressure/PAW)
                </label>
                <div class="col-5">
                  <input readonly  class="form-control" 
                    type="text"
                    [(ngModel)]="patientDetail.pip"
                    name="pip"
                    #pip="ngModel"
                    id="pip">
                </div>
                <div class="col-3">cmH20</div>
                </div>
              </div> <!-- col2 close -->
            </div><!--form group -->

            <div class="form-group row">
              <div class="col-6"> <!-- col1 --><div class="row"> 
                <label class="col-4 col-form-label">
                  RR
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.rr"
                    name="rr"
                    #rr="ngModel"
                    id="rr">
                </div>
                </div>
              </div> <!-- col1 close -->
              <div class="col-6">  <!-- col2 --><div class="row"> 
                <label class="col-2 col-form-label">
                  TV
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.tv"
                    name="tv"
                    #tv="ngModel"
                    id="tv">
                </div>
                </div>
              </div> <!-- col2 close -->
            </div><!--form group -->


            <div class="form-group row">
              <div class="col-6"> <!-- col1 --><div class="row"> 
                <label class="col-4 col-form-label">
                  <span style="color:red;">Lung&nbsp;Compliance (mls/cmH2O)</span>
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.lungCompliance"
                    name="lungCompliance"
                    #lungCompliance="ngModel"
                    id="lungCompliance">
                </div>
                <div class="col-3">calculated as TV/(PIP-PEEP)</div>
                </div>
              </div> <!-- col1 close -->
              <div class="col-6"> <!-- col2 -->
                <div class="row"> 
                    <label for="disabledSelect" class="col-2 col-form-label"  style="color:red;">
                        CXR quadrants* 
                      </label>
                    <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.cxrquadrants"
                    name="cxrquadrants"
                    #cxrquadrants="ngModel"
                    id="cxrquadrants">
                </div>
                <div class="col-12">
                <small class="display-inline"  style="color:black;">(number of quadrants with infiltrations seen on CXR:alveolar consolidation) 1 point per quadrant, minimum 0, maximum 4 )</small>
              </div>  
              </div>
              </div> <!-- col2 close -->
            </div><!--form group -->
          </div>
          <div class="form-group row">
            <div class="col-12"> <!-- col1 -->
              <div class="col-6">
              <div class="row">
                
              <label for="disabledSelect" class="col-3 pl-0 col-form-label">
                Murray Score<span>*</span>
              </label>
              <div class="col-6">
                <input class="form-control" placeholder="murrayscore" 
                type="text"
                [(ngModel)]="patientDetail.murrayscore"
                name="murrayscore"
                id="murrayscore"
                #murrayscore="ngModel"
                required readonly>
              </div>
            </div>
              <!-- <span
              class="help-block"
              *ngIf="f.submitted && murrayscore.errors?.required">
              *Murray Scoreis required
            </span> -->
              </div>
            </div> <!-- col1 close -->
          </div> 
        </div> <!-- closing of Ventilation -->

        <div style="padding:15px;">
          <h6>
            <label class="text-primary">Investigation results</label>
          </h6>
          <div class="form-group row">
            <div class="col-4"> <!-- col1 --><div class="row"> 
              <label class="col-4 col-form-label">
                urea
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.urea"
                  name="urea"
                  #urea="ngModel"
                  id="urea">
              </div>
              </div>
            </div> <!-- col1 close -->

            <div class="col-4"> <!-- col2 --><div class="row"> 
              <label class="col-4 col-form-label">
                Cr
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.cr"
                  name="cr"
                  #cr="ngModel"
                  id="cr">
              </div>
              </div>
            </div> <!-- col2 close -->
            <div class="col-4"> <!-- col1 --><div class="row"> 
              <label class="col-4 col-form-label">
                Lactate
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.lactate"
                  name="lactate"
                  #lactate="ngModel"
                  id="lactate">
              </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-4"> <!-- col2 --><div class="row"> 
              <label class="col-4 col-form-label">
                UO
              </label>
              <div class="col-5">
                <input readonly  class="form-control" placeholder="mls/hr"
                  type="text"
                  [(ngModel)]="patientDetail.uo"
                  name="uo"
                  #uo="ngModel"
                  id="uo">
              </div>
              <div class="col-3">mls/hr</div>
              </div>
            </div> <!-- col2 close -->
            <div class="col-4"> <!-- col1 --><div class="row"> 
              <label class="col-4 col-form-label">
                Dialysis
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="mls/hr"
                  type="text"
                  [(ngModel)]="patientDetail.dialysis"
                  name="dialysis"
                  #dialysis="ngModel"
                  id="dialysis">
              </div>
              </div>
            </div> <!-- col1 close -->
            
          </div> <!--form group -->
        </div><!-- investigation result close -->

        <div class="col-12"><!-- start for Cardiovascular Parameters: complication -->
          <h6>
            <label class="text-primary">Cardiovascular Parameters:</label>
          </h6>

          <div class="form-group row">
            <div class="col-6"> <!-- col1 --><div class="row"> 
              <label class="col-4 col-form-label">
                HR
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.hr"
                  name="hr"
                  #hr="ngModel"
                  id="hr">
              </div></div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 --><div class="row"> 
              <label class="col-2 col-form-label">
                BP
              </label>
              <div class="col-5">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.bp"
                  name="bp"
                  #bp="ngModel"
                  id="bp">  
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->


          <div class="form-group row">
              <div class="col-6"> <!-- col1 --><div class="row"> 
                <label class="col-4 col-form-label">
                  CVP
                </label>
                <div class="col-8">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.cvp"
                    name="cvp"
                    #cvp="ngModel"
                    id="cvp">
                </div>
                </div>
              </div> <!-- col1 close -->

              <div class="col-6">  <!-- col2 -->
                <div class="row"> 
                <label class="col-2 col-form-label">
                  Temp
                </label>
                <div class="col-5">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.temp"
                    name="temp"
                    #temp="ngModel"
                    id="temp">
                </div>
                </div>
              </div> <!-- col2 close -->
            </div><!--form group -->


            <div class="form-group row">
              <div class="col-6"> <!-- col1 -->
                <div class="row"> 
                <label class="col-4 col-form-label">
                  CO
                </label>
                <div class="col-8">
                  <input readonly  class="form-control"
                    type="text"
                    [(ngModel)]="patientDetail.co"
                    name="co"
                    #co="ngModel"
                    id="co">
                </div>
                </div>
              </div> <!-- col1 close -->
            </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                left ventricular ejection fraction
              </label>
              <div class="col-8">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.leftventricularejectionfraction"
                  name="leftventricularejectionfraction"
                  #leftventricularejectionfraction="ngModel"
                  id="leftventricularejectionfraction">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                cardiac index
              </label>
              <div class="col-5">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.cardiacindex"
                  name="cardiacindex"
                  #cardiacindex="ngModel"
                  id="cardiacindex">
              </div>
              <div class="col-3">L/min/m2</div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

        </div> <!-- closing for Cardiovascular Parameters: complication -->

        <div class="col-12"><!-- start for Inotropes/vasoconstrictors -->
          <h6>
            <label class="text-primary">Inotropes/vasoconstrictors</label>
          </h6>
          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesagent1"
                  name="Inotropesagent1"
                  #Inotropesagent1="ngModel"
                  id="Inotropesagent1">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-5">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesdose1"
                  name="Inotropesdose1"
                  #Inotropesdose1="ngModel"
                  id="Inotropesdose1">
              </div>
              <div class="col-3">mcg/kg/min</div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesagent2"
                  name="Inotropesagent2"
                  #Inotropesagent2="ngModel"
                  id="Inotropesagent2">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-5">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesdose2"
                  name="Inotropesdose2"
                  #Inotropesdose2="ngModel"
                  id="Inotropesdose2">
              </div>
              <div class="col-3">mcg/kg/min</div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesagent3"
                  name="Inotropesagent3"
                  #Inotropesagent3="ngModel"
                  id="Inotropesagent3">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-5">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Inotropesdose3"
                  name="Inotropesdose3"
                  #Inotropesdose3="ngModel"
                  id="Inotropesdose3">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->
        </div> <!-- closing for Inotropes/vasoconstrictors -->

        <div class="col-12"><!-- start for Sedation -->
          <h6>
            <label class="text-primary">Sedation</label>
          </h6>

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationagent1"
                  name="Sedationagent1"
                  #Sedationagent1="ngModel"
                  id="Sedationagent1">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationdose1"
                  name="Sedationdose1"
                  #Sedationdose1="ngModel"
                  id="Sedationdose1">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationagent2"
                  name="Sedationagent2"
                  #Sedationagent2="ngModel"
                  id="Sedationagent2">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationdose2"
                  name="Sedationdose2"
                  #Sedationdose2="ngModel"
                  id="Sedationdose2">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationagent3"
                  name="Sedationagent3"
                  #Sedationagent3="ngModel"
                  id="Sedationagent3">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.Sedationdose3"
                  name="Sedationdose3"
                  #Sedationdose3="ngModel"
                  id="Sedationdose3">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->
        </div> <!-- closing for Sedation -->

        <div class="col-12"><!-- start for Muscle relaxants -->
          <h6>
            <label class="text-primary">Muscle relaxants</label>
          </h6>
          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-3 col-form-label">
                Agent
              </label>
              <div class="col-9">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.musclerelaxantsagent1"
                  name="musclerelaxantsagent1"
                  #musclerelaxantsagent1="ngModel"
                  id="musclerelaxantsagent1">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-2 col-form-label">
                Dose
              </label>
              <div class="col-10">
                <input readonly  class="form-control"
                  type="text"
                  [(ngModel)]="patientDetail.musclerelaxantsdose1"
                  name="musclerelaxantsdose1"
                  #musclerelaxantsdose1="ngModel"
                  id="musclerelaxantsdose1">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->
        </div> <!-- closing for Muscle relaxants -->

        <div class="col-12"><!-- start for Blood Glass: -->
          <h6>
            <label class="text-primary">Blood Gas</label>
          </h6>

          <div class="form-group row">
            <div class="col-4"> <!-- col1 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                pH
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="PH"
                  type="text"
                  [(ngModel)]="patientDetail.bloodgasPH"
                  name="bloodgasPH"
                  #bloodgasPH="ngModel"
                  id="bloodgasPH">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-4">  <!-- col2 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                PO2
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="PO2"
                  type="text"
                  [(ngModel)]="patientDetail.bloodgasPO2"
                  name="bloodgasPO2"
                  #bloodgasPO2="ngModel"
                  id="bloodgasPO2">
              </div>
              </div>
            </div> <!-- col2 close -->
            <div class="col-4"> <!-- col1 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                <span style="color:red;">PCO2</span>
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="PCO2"
                  type="text"
                  [(ngModel)]="patientDetail.bloodgasPCO2"
                  name="bloodgasPCO2"
                  #bloodgasPCO2="ngModel"
                  id="bloodgasPCO2">
              </div>
              </div>
            </div>
          </div><!--form group -->


          <div class="form-group row">
             <!-- col1 close -->
            <div class="col-4">  <!-- col2 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                HCO3
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="HCO3"
                  type="text"
                  [(ngModel)]="patientDetail.bloodgasHCO3"
                  name="bloodgasHCO3"
                  #bloodgasHCO3="ngModel"
                  id="bloodgasHCO3">
                  </div>
              </div>
            </div> <!-- col2 close -->
            <div class="col-4"> <!-- col1 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                BE
              </label>
              <div class="col-8">
                <input readonly  class="form-control" placeholder="BE"
                  type="text"
                  [(ngModel)]="patientDetail.bloodgasBE"
                  name="bloodgasBE"
                  #bloodgasBE="ngModel"
                  id="bloodgasBE">
              </div>
              </div>
            </div> <!-- col1 close -->
          </div><!--form group -->

          <div class="form-group row">

          </div><!--form group -->

        </div> <!-- closing for Blood Glass: -->

        <div class="col-12">
          <h6 >
            <label class="text-primary">Refral's</label>
          </h6>

          <div class="form-group row">
            <div class="col-6"> <!-- col1 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                Designation
              </label>
              <div class="col-8">
                <input readonly class="form-control" placeholder="Designation"
                  type="text"
                  [(ngModel)]="patientDetail.refdocdesignation"
                  name="refdocdesignation"
                  #designation="ngModel"
                  id="refdocdesignation">
              </div>
              </div>
            </div> <!-- col1 close -->
            <div class="col-6">  <!-- col2 -->
              <div class="row"> 
              <label class="col-4 col-form-label">
                Telephone number
              </label>
              <div class="col-8">
                <input readonly class="form-control" placeholder="telephone"
                  type="text"
                  [(ngModel)]="patientDetail.refdoctelephone"
                  name="refdoctelephone"
                  #Inotropesdose2="ngModel"
                  id="refdoctelephone">
              </div>
              </div>
            </div> <!-- col2 close -->
          </div><!--form group -->
        </div>

        <div class="col-12"  *ngIf="patientDetail.file1 != 'NA' || patientDetail.file2!= 'NA' ||patientDetail.file3 != 'NA'">
          <h6 >
            <label class="text-primary">Patient Document</label>
          </h6>

          <div class="form-group row">
            <div class="col-4 row"> <!-- col1 -->
              
              <div class="col-7"  *ngIf="patientDetail.file1 != 'NA'">
                <a [href]="patientDetail.file1"  download target="_blank">Document 1</a>
              </div>
            </div> <!-- col1 close -->
            <div class="col-4 row"> <!-- col1 -->
              
              <div class="col-7" *ngIf="patientDetail.file2 != 'NA'">
                <a [href]="patientDetail.file2" download target="_blank">Document 2</a>
              </div>
            </div> <!-- col1 close -->
            <div class="col-4 row"> <!-- col1 -->
              
              <div class="col-7" *ngIf="patientDetail.file3 !='NA'">
                <a [href]="patientDetail.file3" download target="_blank">Document 3</a>
              </div>
            </div> <!-- col1 close -->
          </div><!--form group -->
        </div>






        <div class="col-12">
          <!--<form role="form" (ngSubmit)="f.form.valid && onApproved()"> -->
          <form role="form" 
            #f="ngForm"
            (ngSubmit)="f.form.valid && onApproved()"
            novalidate  *ngIf="docType===true">
            <div class="form-group row"> 
              <label class="col-2" for="disabledSelect">Comments</label>
              <div class="col-10">
              <textarea [(ngModel)]="_PatientDetailReq.comment"
                name="comment"
                id="comment"
                #comment="ngModel"
                class="form-control" rows="3">
              </textarea>
            </div>
            </div>
            <div class="form-group row">
              <div class="col-10 offset-2 text-center">
            <button type="submit"
              (click)="_PatientDetailReq.action = '2'"
              class="btn btn-warning">
              HOLD
            </button>
            <button type="submit"
              class="btn btn-success mx-4"
              (click)="_PatientDetailReq.action = '3'">
              APPROVED
            </button>
            <button type="submit"
              class="btn btn-danger"
              (click)="_PatientDetailReq.action = '4'">
              REJECT
            </button>
            </div>
          </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
