<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>Please Complete this consultation formfoe all ECMO referrals to Adan Hospital</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        
                                <div class="col-6">
                                    <div class="form-group">
                                                <label for="disabledSelect">Referring Consultant</label>
                                                <input readonly  class="form-control"
                                                       type="text"
                                                       [(ngModel)]="patientDetail.referConsulutantName"
                                                       name="referConsulutantName"
                                                       id="referConsulutantName"
                                                       #referConsulutantName="ngModel" >
                                            </div>
                                  <div class="form-group" >
                                    <label>Referring Speciality</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.speciallist"
                                    name="speciallist"
                                    id="speciallist"
                                    #speciallist="ngModel" >
                                </div>
                                <div class="form-group">
                                    <label>Referring Hospital</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.referHospital"
                                    name="referHospital"
                                    id="referHospital"
                                    #referHospital="ngModel" >
                                </div>

                                <div class="form-group">
                                        <label>Referring Date</label>
                                        <input readonly  class="form-control"
                                        type="text"
                                        [(ngModel)]="patientDetail.RefDate"
                                        name="RefDate"
                                        id="RefDate"
                                        #RefDate="ngModel" >
                                    </div>

                                <div class="form-group" >
                                    <label>Admission diagnosis</label>
                                    <textarea readonly  [(ngModel)]="patientDetail.admissionDiagnosis"
                                              name="admissionDiagnosis"
                                              id="admissionDiagnosis"
                                              #admissionDiagnosis="ngModel"
                                              id="admissionDiagnosis"
                                              class="form-control" rows="3"></textarea>
                                </div>
                                <div class="form-group" >
                                    <label>History(including comorbidities)</label>
                                    <textarea readonly  [(ngModel)]="patientDetail.history"
                                              name="history"
                                              id="history"
                                              #history="ngModel"
                                              id="history"
                                              class="form-control" rows="3"></textarea>
                                </div>
                              </div>
                              <div class="col-6">
                                <div class="form-group">
                                    <label for="disabledSelect">Patient Name</label>
                                    <input readonly  [(ngModel)]="patientDetail.patientName"
                                           name="patientName"
                                           id="patientName"
                                           #patientName="ngModel"
                                           id="patientName" class="form-control" type="text">
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="inputSuccess">Civil ID</label>
                                    <input readonly  type="text" class="form-control"
                                           [(ngModel)]="patientDetail.civilId"
                                           name="civilId"
                                           #civilId="ngModel"
                                           id="civilId">
                                </div>
                                <div class="form-group">
                                        <label class="control-label" for="inputSuccess">Age</label>
                                        <input readonly  type="text" class="form-control"
                                               [(ngModel)]="patientDetail.age"
                                               name="age"
                                               #age="ngModel"
                                               id="age">
                                    </div>
                                <div class="form-group">
                                    <label>Gender</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.gender"
                                           name="gender"
                                           id="gender"
                                           #gender="ngModel"
                                           id="gender">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Unit</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.unit"
                                           name="unit"
                                           id="unit"
                                           #unit="ngModel"
                                           id="unit">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Ward</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.ward"
                                           name="ward"
                                           #ward="ngModel"
                                           id="ward">
                                </div>
                                <div class="form-group" >
                                    <label for="disabledSelect">Bed</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.bed"
                                           name="bed"
                                           #bed="ngModel"
                                           id="bed">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">File no</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.fileNo"
                                           name="fileNo"
                                           #fileNo="ngModel"
                                           id="fileNo">
                                </div>
                              </div>
                              <div class="clearfix col-12"><hr></div>
                              <div class="col-6">
                                <div class="form-group">
                                    <label>Pre-morbid functional status</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.preMorbFunctionalStatus"
                                           name="preMorbFunctionalStatus"
                                           #preMorbFunctionalStatus="ngModel"
                                           id="preMorbFunctionalStatus">
                                </div>
                                <div class="form-group">
                                    <label>Pre-morbid functional conscious Status</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.preMorbFunctionalConsciousStatus"
                                           name="preMorbFunctionalConsciousStatus"
                                           #preMorbFunctionalConsciousStatus="ngModel"
                                           id="preMorbFunctionalConsciousStatus">

                                </div>
                                <div class="form-group">
                                    <label>Current GCS Total</label><br>
                                    <label>E</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.e"
                                           name="e"
                                           #e="ngModel"
                                           id="e">

                                  <label>V</label>
                                  <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.v"
                                           name="v"
                                           #v="ngModel"
                                           id="v">
                          <label>M</label>
                          <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.m"
                                           name="m"
                                           #m="ngModel"
                                           id="m">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Total</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.totalscore"
                                           name="totalscore"
                                           #totalscore="ngModel"
                                           id="totalscore">
                                </div>

                                <label for="disabledSelect" class="col-12"><u>Ventilation</u></label>
                                <div class="form-group">
                                    <label for="disabledSelect">Duraton of conventional mechanical ventination</label>
                                    <input readonly  class="form-control" placeholder="Days"
                                           type="text"
                                           [(ngModel)]="patientDetail.durOfConventianalMechanicalVentination"
                                           name="durOfConventianalMechanicalVentination"
                                           #durOfConventianalMechanicalVentination="ngModel"
                                           id="durOfConventianalMechanicalVentination">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">SPO2 %</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.spO2"
                                           name="spO2"
                                           id="spO2"
                                           #spO2="ngModel">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">PO2 %</label>
                                    <input readonly  class="form-control" placeholder="mmHg"
                                           type="text"
                                           [(ngModel)]="patientDetail.pO2"
                                           name="pO2"
                                           #pO2="ngModel"
                                           id="pO2">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">FIO2 %</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.fiO2"
                                           name="fiO2"
                                           #fiO2="ngModel"
                                           id="fiO2">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Pao2/Fio2 ratio</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.pao2fio2ratio"
                                    name="pao2fio2ratio"
                                    #pao2fio2ratio="ngModel"
                                    id="pao2fio2ratio">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">PIP</label>
                                    <input readonly  class="form-control" placeholder="CMH2O"
                                           type="text"
                                           [(ngModel)]="patientDetail.pip"
                                           name="pip"
                                           #pip="ngModel"
                                           id="pip">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">PEEP</label>
                                    <input readonly  class="form-control" placeholder="CMH2O"
                                    type="text"
                                    [(ngModel)]="patientDetail.peep"
                                    name="peep"
                                    #peep="ngModel"
                                    id="peep">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">TV</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.tv"
                                           name="tv"
                                           #tv="ngModel"
                                           id="tv">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">RR</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.rr"
                                           name="rr"
                                           #rr="ngModel"
                                           id="rr">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">Lung Compliance</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.lungCompliance"
                                    name="lungCompliance"
                                    #lungCompliance="ngModel"
                                    id="lungCompliance">
                                </div>
                                <div class="form-group">
                                    <label for="disabledSelect">CXR quadrants</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.cxrquadrants"
                                    name="cxrquadrants"
                                    #cxrquadrants="ngModel"
                                    id="cxrquadrants">
                                </div>
      <div class="clearfix col-12"><hr></div>
                                <h6>Investigation Result:</h6>
                                <div class="form-group">
                                    <label for="disabledSelect">UREA</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.urea"
                                           name="urea"
                                           #urea="ngModel"
                                           id="urea">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">CR</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.cr"
                                           name="cr"
                                           #cr="ngModel"
                                           id="cr">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">Lactate</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.lactate"
                                           name="lactate"
                                           #lactate="ngModel"
                                           id="lactate">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">UO</label>
                                    <input readonly  class="form-control" placeholder="mls/hr"
                                           type="text"
                                           [(ngModel)]="patientDetail.uo"
                                           name="uo"
                                           #uo="ngModel"
                                           id="uo">
                                </div>

                                <div class="form-group">
                                    <label>Dialysis</label>
                                    <input readonly  class="form-control" placeholder="mls/hr"
                                           type="text"
                                           [(ngModel)]="patientDetail.dialysis"
                                           name="dialysis"
                                           #dialysis="ngModel"
                                           id="dialysis">
                                </div>
      </div>
      <div class="col-6">
                                <label for="disabledSelect" class="col-12"><u>Cardiovascular Parameters:</u></label>
                                <div class="form-group">
                                    <label for="disabledSelect">HR</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.hr"
                                           name="hr"
                                           #hr="ngModel"
                                           id="hr">

                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">BP</label>

                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.bp"
                                           name="bp"
                                           #bp="ngModel"
                                           id="bp">

                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">CVP</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.cvp"
                                    name="cvp"
                                    #cvp="ngModel"
                                    id="cvp">

                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">TEMP</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.temp"
                                    name="temp"
                                    #temp="ngModel"
                                    id="temp">

                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">CO</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.co"
                                           name="co"
                                           #co="ngModel"
                                           id="co">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">CARDIAC INDEX</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.cardiacindex"
                                    name="cardiacindex"
                                    #cardiacindex="ngModel"
                                    id="cardiacindex">

                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect">Left ventricular ejection fraction</label>
                                    <input readonly  class="form-control"
                                    type="text"
                                    [(ngModel)]="patientDetail.leftventricularejectionfraction"
                                    name="leftventricularejectionfraction"
                                    #leftventricularejectionfraction="ngModel"
                                    id="leftventricularejectionfraction">

                                </div>

      <div class="form-group row">
          <label for="disabledSelect" class="col-12"><u>Inotropes/vasoconstrictors</u></label>
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesagent1"
                                           name="Inotropesagent1"
                                           #Inotropesagent1="ngModel"
                                           id="Inotropesagent1">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesdose1"
                                           name="Inotropesdose1"
                                           #Inotropesdose1="ngModel"
                                           id="Inotropesdose1">
                                </div>
                              </div>
                              <div class="form-group row">
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesdose2"
                                           name="Inotropesdose2"
                                           #Inotropesdose2="ngModel"
                                           id="Inotropesdose2">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesdose2"
                                           name="Inotropesdose2"
                                           #Inotropesdose2="ngModel"
                                           id="Inotropesdose2">
                                </div>
      </div>
      <div class="form-group row">
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesagent3"
                                           name="Inotropesagent3"
                                           #Inotropesagent3="ngModel"
                                           id="Inotropesagent3">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Inotropesdose3"
                                           name="Inotropesdose3"
                                           #Inotropesdose3="ngModel"
                                           id="Inotropesdose3">
                                </div>
      </div>
      <div class="form-group row">
          <label for="disabledSelect" class="col-12"><u>Sedation</u></label>
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationagent1"
                                           name="Sedationagent1"
                                           #Sedationagent1="ngModel"
                                           id="Sedationagent1">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationdose1"
                                           name="Sedationdose1"
                                           #Sedationdose1="ngModel"
                                           id="Sedationdose1">
                                </div>
      </div>
      <div class="form-group row">
                                    <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationagent2"
                                           name="Sedationagent2"
                                           #Sedationagent2="ngModel"
                                           id="Sedationagent2">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationdose2"
                                           name="Sedationdose2"
                                           #Sedationdose2="ngModel"
                                           id="Sedationdose2">
                                </div>
                                </div>
                                <div class="form-group row">
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationagent3"
                                           name="Sedationagent3"
                                           #Sedationagent3="ngModel"
                                           id="Sedationagent3">
                                </div>

                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.Sedationdose3"
                                           name="Sedationdose3"
                                           #Sedationdose3="ngModel"
                                           id="Sedationdose3">
                                </div>
      </div>
      <div class="form-group row">
          <label for="disabledSelect" class="col-12"><u>Muscle relaxants</u></label>
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Agent</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.musclerelaxantsagent1"
                                           name="musclerelaxantsagent1"
                                           #musclerelaxantsagent1="ngModel"
                                           id="musclerelaxantsagent1">
                                </div>
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Dose</label>
                                    <input readonly  class="form-control"
                                           type="text"
                                           [(ngModel)]="patientDetail.musclerelaxantsdose1"
                                           name="musclerelaxantsdose1"
                                           #musclerelaxantsdose1="ngModel"
                                           id="musclerelaxantsdose1">
                                </div>
      </div>


                                <div class="form-group">
                                    <label for="disabledSelect">Blood Glass:</label>
                                    <input readonly  class="form-control" placeholder="PH"
                                           type="text"
                                           [(ngModel)]="patientDetail.bloodgasPH"
                                           name="bloodgasPH"
                                           #bloodgasPH="ngModel"
                                           id="bloodgasPH">
                                </div>

                                <div class="form-group">
                                    <input readonly  class="form-control" placeholder="PO2"
                                           type="text"
                                           [(ngModel)]="patientDetail.bloodgasPO2"
                                           name="bloodgasPO2"
                                           #bloodgasPO2="ngModel"
                                           id="bloodgasPO2">
                                </div>

                                <div class="form-group">
                                    <label for="disabledSelect"></label>
                                    <input readonly  class="form-control" placeholder="PCO2"
                                           type="text"
                                           [(ngModel)]="patientDetail.bloodgasPCO2"
                                           name="bloodgasPCO2"
                                           #bloodgasPCO2="ngModel"
                                           id="bloodgasPCO2">
                                </div>

                                <div class="form-group">
                                    <input readonly  class="form-control" placeholder="HCO3"
                                           type="text"
                                           [(ngModel)]="patientDetail.bloodgasHCO3"
                                           name="bloodgasHCO3"
                                           #bloodgasHCO3="ngModel"
                                           id="bloodgasHCO3">
                                </div>

                                <div class="form-group">
                                    <input readonly  class="form-control" placeholder="BE"
                                           type="text"
                                           [(ngModel)]="patientDetail.bloodgasBE"
                                           name="bloodgasBE"
                                           #bloodgasBE="ngModel"
                                           id="bloodgasBE">
                                </div>




                        <form role="form"
                              #f="ngForm"
                              class="row"
                              (ngSubmit)="f.form.valid && onApproved()"
                              novalidate>
                                <div class="form-group col-6">
                                    <label for="disabledSelect">Action</label>
                                    <select class="form-control" [(ngModel)]="_PatientDetailReq.action"
                                    name="action"
                                    #hr="ngModel"
                                    id="action">
                                      <option value="0">Select Action</option>
                                      <option value="2">HOLD</option>
                                      <option value="3">APPROVED</option>
                                      <option value="4">REJECT</option>
                                     </select>
                                </div>
                                <div class="form-group col-6" > <!-- [ngClass]="{ 'has-error': f.submitted && !comment.valid }">-->
                                        <label for="disabledSelect">Comments</label>
                                    <textarea [(ngModel)]="_PatientDetailReq.comment"
                                              name="comment"
                                              id="comment"
                                              #comment="ngModel"
                                              class="form-control" rows="3"></textarea>
                                </div>
                                <div class="col-12">
                                <button type="submit" class="btn btn-default">Submit Button</button>
                            </div>
                            </form>
                        </div>
                    
                </div>
            </div>
        </div>
      </div>
