<div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h4>Refral Doctor Register</h4>
            <form role="form"
                  #f="ngForm"
                  (ngSubmit)="f.form.valid && onRegister()"
                  novalidate>
                <div class="form-content">
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !name.valid }">
                        <input type="text"
                               [(ngModel)]="_user.name"
                               name="name"
                               class="form-control input-underline input-lg"
                               #name="ngModel"
                               id="name"
                               placeholder="Full Name"
                               required>
                        <div *ngIf="f.submitted && !name.valid"
                             class="help-block"> *Name is required</div>
                    </div>
                    <div class="form-group"
                    [ngClass]="{ 'has-error': f.submitted && !phone.valid }">
                   <input type="text"
                          [(ngModel)]="_user.phone"
                          name="name"
                          class="form-control input-underline input-lg"
                          #name="ngModel"
                          id="phone"
                          placeholder="Phone No"
                          required>
                   <div *ngIf="f.submitted && !phone.valid"
                        class="help-block"> *Phone is required</div>
               </div>
                    <div class="form-group">
                        <input type="text"
                               [(ngModel)]="_user.civilid"
                               name="civilid"
                               class="form-control input-underline input-lg"
                               #civilid="ngModel"
                               id="civilid"
                               placeholder="Civil Id">
                    </div>
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <input type="text"
                               [(ngModel)]="_user.email"
                               name="email"
                               class="form-control input-underline input-lg"
                               id="email"
                               #email="ngModel"
                               placeholder="Email"
                               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                           autocomplete="off"
                               required>
                        <div *ngIf="f.submitted && !email.valid"
                             class="help-block"> *Email is required</div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                        <input type="password"
                               [(ngModel)]="_user.password"
                               name="password"
                               class="form-control input-underline input-lg"
                               id="password"
                               #password="ngModel"
                               placeholder="Password"
                               required>
                        <div *ngIf="f.submitted && !password.valid"
                             class="help-block" style="color: red;"> *Password is required</div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && specialist_id !==0 }">
                        <select [(ngModel)]="_user.specialist_id"
                             (change)="onspecialist($event)"
                                name="specialist_id"
                                id="specialist_id"
                                #specialist_id="ngModel"
                                class="form-control"
                                placeholder="Confirm Password"
                                required>
                        <option *ngFor="let splt of specialists" value={{splt.Value}}>{{splt.Text}} </option>
                        </select>
                        <div *ngIf="f.submitted && Spvalid == false"
                             class="help-block" style="color: red;"> *Specialist is required</div>
                    </div>
                    <div class="form-group"
                         [ngClass]="{ 'has-error': f.submitted && hospital_id !==0 }">
                        <select [(ngModel)]="_user.hospital_id"
                               (change)="onhospital($event)"
                                name="hospital_id"
                                id="hospital_id"
                                #hospital_id="ngModel"
                                class="form-control"
                                placeholder="Hospital Name"
                                required>
                        <option *ngFor="let hospital of hospitals" value={{hospital.Value}}>{{hospital.Text}} </option>
                        </select>
                        <div *ngIf="f.submitted && Hsvalid === false"
                             class="help-block" style="color: red;"> *Hospital is required</div>
                    </div>
                    <div class="form-group">
                                    <select
                                      class="form-control"
                                      [(ngModel)]="_user.user_type"
                                      name="user_type"
                                      #user_type="ngModel"
                                      id="user_type" required>
                                      <option value="1">Approval</option>
                                      <option value="2">ICU</option>
                                      <option value="3">Referral<option>
                                      <option value="4">Admin</option>
                                    </select>
                                    <div class="help-block" style="color: red;" *ngIf="f.submitted && user_type.errors?.required">
                                      *User type is required
                                    </div>
                    </div>

                </div>
                <button type="submit"
                        class="btn  btn-primary"> Register </button>&nbsp;
            </form>
        </div>
    </div>
</div>
